<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Management</title>
    <link href="../assets/admin.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <%- include('./public/Navbar.ejs') %>
    <div class="container">

        <input type="text" name="" id="myInput" placeholder="names..." onkeyup="searchFun()">
        
        <div class="table-responsive">
            <table id="mytable" class="table table-bordred table-striped">

                <thead>
                    <th>SR NO</th>
                    <th>FILE NAME</th>
                    <th>YEAR</th>
                    <th>CODE</th>
                    <th>TALUK</th>
                    <th>HOBLI</th>
                    <th>VILLAGE</th>
                    <th>SURVEY NUMBER</th>
                    <th>UPDATE</th>
                    <th>DELETE</th>
                    <th>VIEW PDF</th>
                </thead>
                <tbody>

                    <% listviewpage.forEach(function(item){ %>
                        <tr>
                            <td>
                                <%= item.SRNO %>
                            </td>
                            <td>
                                <%= item.FILENAME %>
                            </td>
                            <td>
                                <%= item.YEAR %>
                            </td>
                            <td>
                                <%= item.CODE %>
                            </td>
                            <td>
                                <%= item.TALUK %>
                            </td>
                            <td>
                                <%= item.HOBLI %>
                            </td>
                            <td>
                                <%= item.VILLAGE %>
                            </td>
                            <td>
                                <%= item.SURVEYNUMBER %>
                            </td>
                            
                            <td>
                                <a href="/edit/<%= item.sn %>">
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#exampleModalCenter">
                                        Update
                                    </button>
                                </a>
                            </td>
                            <td>
                                <a href="/index/<%= item.SRNO %>">
                                    <p data-placement="top" data-toggle="tooltip" title="Delete">
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#exampleModalCenter">
                                            Delete
                                        </button>
                                    </p>
                                </a>
                            </td>
                            <td>
                                <a href="/pdfView">
                                    <p data-placement="top" data-toggle="tooltip" title="Delete">
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#exampleModalCenter">
                                            View Pdf
                                        </button>
                                    </p>
                                </a>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>    

    </div>

    <script>

        const searchFun = () => {
        let filter = document.getElementById('myInput').value.toUpperCase();
        console.log("filter is ",filter);

        let myTable = document.getElementById('mytable');

        let tr = myTable.getElementsByTagName('tr');

        for (let i = 0; i < tr.length; i++) {
            // let td = tr[i].getElementsByTagName('td')[0] or tr[i].getElementsByTagName('td')[1] || tr[i].getElementsByTagName('td')[2] || tr[i].getElementsByTagName('td')[3];
            // TagName('td')[1] ----> 1 ka meaning h ki file name ke according search karegaaa or agr 1 ko 2 kar dege toh year ke according kar lag jayega.....
            let td = tr[i].getElementsByTagName('td')[1];

            if (td) {
                let textvalue = td.textContent || td.innerHTML;

                if (textvalue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";                    
                }else{
                    tr[i].style.display = "none";
                }                
            }            
        }
    }

    </script>
</body>

</html>